body {
    background-color: lightblue; 
    
}

#a {
    position:relative;
    left:35%;
    border-bottom: 100px;
}

#c {
    position:relative;
    left:35%;
}

#e {
    position:relative;
    left:35%;
}

h1 {
    position: fixed;
    text-align: center;
    width: 100%;
    height:50px;
    background-color: antiquewhite;
    color:black;
    z-index: 9999;

}
