body {
    background-color: lightblue; }

 h1 {
        position: static;
        text-align: center;
        width: 100%;
        height:50px;
        background-color: antiquewhite;
        color:black;
        z-index: 9999;
    
    }

#g {
    text-align: center;
}
